* {
  font-family: "Poppins", sans-serif;
}
body {
  background: #181525;
}

header {
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("../images/madrid-header.jpg");
  background-size: cover;
}
header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  margin: 10px;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  margin-top: 5px;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  padding-top: 200px;
  letter-spacing: 5px;
}

header a {
  text-decoration: none;
  color: #272044;
  background-color: white;
  padding: 16px 32px;
  display: inline-block;
  margin-bottom: 200px;
}

.text-center {
  text-align: center;
}
.photo-large {
  max-width: 667px;
  margin-top: 10px;
}
.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
section.primary p {
  font-weight: 400;
  size: 24px;
  line-height: 2;
  color: white;
  padding: 20px 10px;
}
section h3 {
  color: white;
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
}
section.secondary {
  background-color: #f8f8f8;
  padding-top: 40px;
}
section.secondary h3,
h4,
h5,
p {
  color: #272044;
  line-height: 1;
  margin: 0;
  line-height: 1.5;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.card-title {
  padding-top: 20px;
}
.card-header {
  display: grid;
}
.card-header.two-columns {
  grid-gap: 0px;
}
.embedded-map {
  aspect-ratio: 1 /1;
  height: 200px;
  width: 200px;
}
.card-body {
  color: #272044;
  padding: 32px;
}
.card-body a {
  background-color: #462cb2;
  padding: 16px 32px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
}
.card-image {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: 10px;
}
.gallery h2,
h3 {
  color: white;
  text-align: center;
}
.gallery h3 {
  letter-spacing: 3px;
  line-height: 1;
}
.gallery h2 {
  font-size: 36px;
  line-height: 1.5;
}

.instagram-media {
  height: 400px;
  width: 400px;
  align-items: center;
}
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/madrid-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

footer a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}

footer li {
  list-style-type: none;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 10%;
}

@media (max-width: 800px) {
  header h1 {
    font-size: 45px;
  }
  header h2 {
    font-size: 20 px;
  }
  header h3 {
    font-size: 12px;
    padding-top: 100px;
  }

  header a {
    padding: 8px 16px;
    margin-bottom: 100px;
  }
  section {
    grid-template-columns: 1fr;
  }
  section p {
    size: 16px;
    line-height: 2;
    padding: 10px;
  }
  section h3 {
    font-size: 20px;
    line-height: 1.5;
  }
  .card-header img {
    display: none;
  }
  .grid-three-columns {
    grid-template-columns: 1fr;
  }
  .embedded-map {
    width: 200%;
    margin: 0 auto;
  }
  .two-columns.primary {
    grid-template-columns: 1fr;
  }
  section.primary h3 {
    font-size: 16px;
  }

  section.primary p {
    font-size: 14px;
    max-width: auto;
  }
  section.primary img {
    max-width: 100%;
    margin: 0 auto;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  footer h3 {
    font-size: 16px;
    line-height: 10px;
  }

  footer p,
  a,
  li {
    font-size: 12px;
    line-height: 10px;
  }
}
